<h1 class="title">{{ title }}</h1>
<main *ngIf="user; else loggedOutView">
  <div class="greeting">Hello {{ user.name }}</div>
  <div><button (click)="toggleDebug()">Toggle debug</button></div>
  <div><button (click)="logout()">Logout</button></div>
</main>
<ng-template #loggedOutView>
  <section class="logged-out-view">
    <button (click)="login()">Login</button>
  </section>
</ng-template>
<section class="messages-view">
  <h2>Messages:</h2>
  <div style="display: table; width: 80%" class="messages-container">
    <div *ngFor="let msg of messages" style="display: table-row">
      <div style="display: table-cell">{{ msg.content }}</div>
      <div style="display: table-cell">
        {{ msg.timestamp.toLocaleString() }}
      </div>
    </div>
  </div>
</section>
